<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:fragment="visualizer">
<head>
    <meta charset="utf-8">
    <base th:href="${#request.getContextPath()}+'/'">
    <title>ECharts</title>
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main_vis" style="width: 600px;height:400px;"></div>
<div id="main_vis2" style="width: 600px;height:400px;"></div>
<script type="text/javascript" th:incline="javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main_vis'));

    var option = {
        title: {
            text: '学生成绩柱状图'
        },
        tooltip : {
        },
        legend: {
            data: ['平均分','最高分','最低分']
        },
        xAxis: {
            // data: ['衬衫','羊毛衫','雪纺衫','裤子','高跟鞋','袜子']
            data: [[${statMap.get("className")}]],
            name: '班级'
        },
        yAxis: {
            name: '分数'
        },
        series: [{
            name: '平均分',
            type: 'bar',
            data: [[${statMap.get("avgScore")}]]
        },{
            name: '最高分',
            type: 'bar',
            data: [[${statMap.get("maxScore")}]]
        },{
            name: '最低分',
            type: 'bar',
            data: [[${statMap.get("minScore")}]]
        }]
    };
    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
    /*-----------------------------------------------------------*/
    //显示扇形图表2
    var mychart2 = echarts.init(document.getElementById('main_vis2'),'light');
    // 得到List
    var countStudent = [[${statMap.get("countStudent")}]];
    var className = [[${statMap.get("className")}]];
    var serie = [];
    for (let i = 0; i < className.length; i++){
        serie[i] = {}; // JS数组中包含多个对象
        serie[i].value = countStudent[i];
        serie[i].name = className[i] + '班';
    }
    // alert("长度"+countStudent.length+countStudent)
    var option2 = {
        title: {
            text: '学生人数占比'
        },
        tooltip : {
            trigger: 'item',
            formatter: "{b} : {c} 人({d}%)"//设置显示内容
        },
        series: [{
            type: 'pie',
            data: serie
            // data: [
            //     // {value:1, name:'视频广告'},
            //     // {value:2, name:'联盟广告'}
            // ]
        }],
        itemStyle: {
            emphasis: {
                shadowBlur: 10,
                shadowOffsetX: 0,
                shadowColor: 'rgba(0, 0, 0, 0.5)'
            },
            normal:{
                label:{
                    show: true,
                    formatter: '{b} : {c} ({d}%)'
                },
                labelLine :{show:true}
            }
        }
    };

    // 使用刚指定的配置项和数据显示图表。
    mychart2.setOption(option2);


</script>
</body>
</html>
